  .container {
    height: 1080px;
}

label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }
input[type="text"],
input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
    }

  .form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

textarea.form-input {
    resize: vertical;
}