    .container {
    display: flex;
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центровка контейнера */
    gap: 20px; /* Расстояние между боковой панелью и контентом */
}

.sidebar {
    width: 250px; /* Фиксированная ширина для боковой панели */
}
