{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Специалисты</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="{% static 'main/css/applications.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/applicationss.css' %}">

</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="icon">
                <img onclick="window.location.href='{% url 'index_page' %}'" src="{% static 'main/img/logo-mechanic.jpg' %}" alt="Car Icon">
            </div>
            <p><strong>Логин: </strong>{{ user.username }}</p>

            <button onclick="window.location.href='{% url 'index_page' %}'">Главная страница</button>
            <button onclick="window.location.href='{% url 'applications_page' %}'">Найти специалиста</button>

            {% if user.is_authenticated %}
                <button onclick="window.location.href='{% url 'profile' %}'">Личный кабинет</button>
            {% endif %}
        </div>

        <div class="mechanics-grid">


    {% for mechanic in mechanics %}
        <div class="announcement">
            {% if mechanic.avatar %}
                <img src="{{ mechanic.avatar.url }}" alt="{{ mechanic.full_name }}">
            {% else %}
                <div class="no-photo">No photo</div>
            {% endif %}
            <h3><a href="{% url 'mechanic_detail' mechanic.id %}">{{ mechanic.full_name }}</a></h3>
            <p><strong>Услуги:</strong></p>
            <ul>
                {% for service in mechanic.services.all|slice:":3" %}
                    <li>{{ service.category }}
                        <form action="{% url 'create_order' mechanic.id service.id %}" method="post">
                            {% csrf_token %}
                        </form>
                    </li>
                {% empty %}
                    <li>Нет услуг</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>


    </div>
</body>
</html>
